@import url('https://fonts.googleapis.com/css2?family=Ma+Shan+Zheng&display=swap');
@import "tailwindcss";

@theme {
  --font-calligraphy: "Ma Shan Zheng", cursive;
}

@layer utilities {
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
